.hero {
  /* flex コンテナ */
  display: flex;
  display: -webkit-flex;
  /* flex アイテムを中央揃え */
  justify-content: center;
  -webkit-justify-content: center;
  /* flex アイテムを上下にセンタリング */
  align-items: center;
  -webkit-align-items: center;
  height: 600px;
  /* 背景画像 */
  background: url("../../img/beach.jpg") center center;
  background-size: cover; 
}
.hero-copy {
  margin: 0;
  color: white;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 600px) {
  .hero {
    height: 100vh;
  }
}