/* ページレイアウトの大枠のエリアを定義 */
/* PC版 */
@media (min-width: 600px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* PC版（大） */
@media (min-width: 1025px) {
  .container {
    max-width: 1100px;
  }
}

/* ページ全体のコンテナ */
/* #container {
  min-width: 980px;
} */
/* 固定幅のコンテンツ */
/* .l-content-fixed {
  width: 980px;
  margin: 0 auto;
} */
/* コンテナの幅に拡大するコンテンツ */
/* .l-content-expanded {
  width: auto;
  margin: 0;
} */
/* タブレットサイズ */
/* @media (max-width: 1024px) AND (min-width: 768px) {
  #container {
    min-width: 768px;
  }
  .l-content-fixed {
    width: 768px;
  }
} */
/* スマホサイズ */
/* @media (max-width: 767px) {
  #container {
    min-width: auto;
  }
  .l-content-fixed {
    width: auto;
  }
} */
