/* ページ全体のコンテナ */
#container {
  min-width: 980px;
}
/* 固定幅のコンテンツ */
.l-content-fixed {
  width: 980px;
  margin: 0 auto;
}
/* コンテナの幅に拡大するコンテンツ */
.l-content-expanded {
  width: auto;
  margin: 0;
}
/* マルチカラムレイアウト */
.l-multicolumn {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px -10px;
}
/* ２カラムレイアウト */
.l-2column > .l-column {
  width: calc(100% / 2);
  padding: 0 10px;
}
/* タブレットサイズ */
@media (max-width: 1024px) AND (min-width: 768px) {
  #container {
    min-width: 768px;
  }
  .l-content-fixed {
    width: 768px;
  }
}
/* スマホサイズ */
@media (max-width: 767px) {
  #container {
    min-width: auto;
  }
  .l-content-fixed {
    width: auto;
  }
}
