/* ボタン */
/* サイト全体で共通 */
/* ハンバーガーメニューアイコン */
.hamburger-menu-icon {
  padding: 32px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px;
  color: #ecf0f1;
  cursor: pointer;
}
/* Topへ戻るボタン */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 48px;
  right: 15px;
  z-index: 99;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1abc9c;
  color: #ecf0f1;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#back-to-top-btn:hover {
  background-color: #16a085;
}
/* 成果物詳細ページ */
/* リンクボタン */
.button__link-btn {
  width: 140px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
/* リンクボタンの色とフォント(1) */
.button__link-btn__color {
  font-weight: bold;
  color: #ecf0f1;
  background-color: #16a085;
}
/* リンクボタンの色とフォント(2) */
.button__link-btn__color-black {
  font-weight: bold;
  color: #ecf0f1;
  background-color: #34495e;
}
/* PC版 */
@media (min-width: 600px) {
  .hamburger-menu-icon {
    display: none;
  }
}
/* PC版（大） */
@media (min-width: 1025px) {
  #back-to-top-btn {
    right: 80px;
  }
}

/* Topへ戻るボタン */
/* #back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1abc9c;
  color: #ecf0f1;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#back-to-top-btn:hover {
  background-color: #16a085;
} */
/* ハンバーガーメニューアイコン */
/* .icon {
  display: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #ecf0f1;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
} */
/* タブレットサイズ */
/* @media (max-width: 1024px) {
  .icon {
    display: block;
    right: 128px;
  }
}
@media (max-width: 768px) {
  #back-to-top-btn {
    right: 10px;
  }
  .icon {
    right: 0;
  }
} */