/* 連絡先欄 */
.contact-area {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-area__link {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
/* PC版 */
@media (min-width: 600px) {
  .contact-area__text {
    font-size: 18px;
  }
}
/* PC版（大） */
@media (min-width: 1025px) {
}
/* .mail-btn {
  display: inline-block;
  padding: 0.6em 1em;
  width: 30%;
  border: none;
  border-radius: 0.5em;
  box-shadow: 3px 4px rgba(51, 51, 51, 0.15);
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  cursor: pointer;
  background-color: #1abc9c;
} */
