/* フッター */
.footer {
  padding: 25px 15px;
  background-color: #34495e;
  text-align: center;
}
.footer__copyright {
  font-family: "Montserrat", sans-serif;
}
.footer__copyright__font-color {
  color: #ecf0f1;
}