/* ヘッダー */
.header {
  padding: 25px 15px;
  background-color: #34495e;
}
/* ヘッダーロゴ */
.header__logo {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.header__logo__font-color {
  color: #ecf0f1;
}