/* ヒーローイメージ */
.hero {
  background-image: url(../../img/hero_pc.jpg);
  background-size: cover;
  background-position: center;
  height: 567px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.hero__blur {
  overflow: hidden;
}
.hero__blur::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  background: inherit;
  filter: blur(7px);
}
/* タイトル */
.hero__title {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  text-shadow: 0 0 10px #ecf0f1;
  text-align: center;
  z-index: 1;
}
/* 成果物詳細ページへのリンク */
.hero__link {
  border: solid 2px #ecf0f1;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #16a085;
  color: #ecf0f1;
  font-weight: bold;
  z-index: 1;
}
/* PC版 */
@media (min-width: 600px) {
  .hero__title {
    font-size: 72px;
  }
}
/* PC版（大） */
@media (min-width: 1025px) {
}
/* .hero {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 600px;
  background: url("../../img/hero_pc.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 0;
} */
/* 画像への効果 */
/* .blur {
  overflow: hidden;
}
.blur::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  background: inherit;
  filter: blur(7px);
} */
/* 画像上の文字列 */
/* .hero-copy {
  margin: 0;
  color: #333333;
  font-size: 3em;
  text-align: center;
  z-index: 1;
} */
/* スマホサイズ */
/* @media (max-width: 767px) {
  .hero {
    height: 586px;
  }
} */
