/* 自己紹介欄 */
/* 自己紹介本文のレイアウト */
.profile-text {
  /* flex コンテナ */
  display: -webkit-flex;
  display: flex;
  /* flexアイテムを上下にセンタリング */
  -webkit-align-items: center;
  align-items: center;
  /* flexアイテムを左右にセンタリング */
  -webkit-justify-content: center;
  justify-content: center;
}
/* 自己紹介のアバター画像 */
.profile-item-avatar {
  height: 240px;
  border-radius: 50%;
}
/* 自己紹介の説明文 */
.profile-item-description {
  margin: 0;
  padding-left: 2em;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  white-space: pre-line;
}
/* タブレットサイズ */
@media (max-width: 1024px) AND (min-width: 768px) {
  .profile-item-description {
    padding-left: 1em;
  }
}
/* スマホサイズ */
@media (max-width: 767px) {
  .profile-text {
    /* 主軸をブロック軸に */
    flex-direction: column;
    padding: 1em;
  }
  .profile-item-description {
    padding: 1em 0 0 0;
    white-space: normal;
  }
}