/* 全体の背景色 */
/* .profile-area {
  background-color: #dfe6e9;
} */
/* 自己紹介本文のレイアウト */
.profile-text {
  /* flex コンテナ */
  display: -webkit-flex;
  display: flex;
  /* flexアイテムを上下にセンタリング */
  -webkit-align-items: center;
  align-items: center;
  /* flexアイテムを左右にセンタリング */
  -webkit-justify-content: center;
  justify-content: center;
}
/* 自己紹介のアバター画像 */
.profile-item-avatar {
  height: 240px;
  border-radius: 50%;
}
/* 自己紹介の説明文 */
.profile-item-description {
  margin: 0;
  padding-left: 2em;
  font-size: 1em;
  text-align: left;
  white-space: pre-line;
}
