/* 主要パーツ */
.section {
  padding: 60px 0;
  font-size: 1rem;
  text-align: center;
}
/* 主要パーツのヘッダ */
.section-header {
  margin:0 0 2.5em 0;
  line-height: 1.2;
}
/* 主要パーツの見出し */
.section-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
/* 項目のシンボルイメージ */
.section-item-symbol {
  height: 120px;
}
/* 自己紹介のアバター画像 */
.section-item-avatar {
  height: 120px;
  border-radius: 50%;
}
/* 項目のタイトル */
.section-item-title {
  margin: 1em 0 0.5em 0;
  font-size: 1.5em;
  text-align: center;
}
/* 項目の説明文 */
.section-item-description {
  margin: 0;
  font-size: 1em;
  text-align: left;
}
/* section 内のボタンのサイズ指定 */
.section .btn {
  padding: .75rem 1rem;
  width: 15rem;
  font-size: 1em;
}
/* section 内のリボン */
.section-item-ribbon {
  display: block;
  position: relative;
  height: 30px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3px;
  color: white;
  font-weight: bold;
  border-width: 1px;
  border-radius: 25px;
}
.section-item-ribbon + .section-item-ribbon {
  margin: 3px auto;
}
.ribbon-red {
  background-color: red;
}
.ribbon-orange {
  background-color: orange;
}
.ribbon-yellow {
  background-color: yellow;
  color: black;
}
.ribbon-black {
  background-color: black;
}
.ribbon-purple {
  background-color: purple;
}
.ribbon-blue {
  background-color: blue;
}
.ribbon-skyblue {
  background-color: skyblue;
}