/* セクションの共通設定 */
.section {
  padding: 40px 15px;
}
.section__bg-color__green {
  background-color: #16a085;
}
.section__header {
  text-align: center;
}
.section__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.section__subtitle {
  font-size: 20px;
  font-weight: bold;
}

/* .section {
  padding: 60px 0;
  font-size: 1rem;
  text-align: center;
}
.section-header {
  margin: 0 0 2.5em 0;
  line-height: 1.2;
}
.section-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.section-overview {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
} */
