/* 成果物の詳細ページ */
.contents__bg-color {
  background-color: #16a085;
}
.works-detail {
  padding: 40px 15px;
}
/* ページヘッダー */
.works-detail__header {
  text-align: center;
}
/* ページタイトル */
.works-detail__header-title {
  margin: 0;
  color: #ecf0f1;
  font-family: "Montserrat", sans-serif;
}
/* ページサブタイトル */
.works-detail__header-subtitle {
  color: #ecf0f1;
  font-weight: bold;
}
/* PC版 */
@media (min-width: 600px) {
  .works-detail__header-title {
    font-size: 40px;
  }
  .works-detail__header-subtitle {
    font-size: 20px;
  }
}
/* PC版（大） */
@media (min-width: 1025px) {
}