/* 成果物欄 */
/* 全体の背景色 */
/* .works-area {
  background-color: #dfe6e9;
} */
.works-article {
  /* コンテナの幅に拡大するコンテンツ */
  width: auto;
  margin: 0;
  /* flex コンテナ */
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
/* サムネイル画像 */
.works-article-image {
  margin: 0 auto 2em auto;
  width: 320px;
  height: 180px;
}
/* テーブルの設定 */
.table-list {
  width: 100%;
  margin-bottom: 5em;
  border-collapse: collapse;
  text-align: left;
}
.table-list a {
  color: blue;
}
.table-list td {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 1em 0;
}
.table-list-col-name {
  width: 6em;
}
.table-list-col-data {
  width: auto;
}